

.center-frame{
    background-color: orange;
    width: 50%; 
    margin-left: 25%;

}
canvas{
    margin-left: 10%;
    max-width: 80%;
    grid-row: 1;
    grid-column: 1;
}

.title{
    text-align: center;
  
}

section{
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    display: block;
    width: 480px;
}

button{
    background-color: orange;
}

button:hover{
    background-color: pink;
}